/* здесь подключите шрифты*/
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2")
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/osvald/oswaldregular.woff2lato/r.woff2") format("woff2")
  font-display: swap;
}
