/* здесь используйте глобальные селекторы img, body, html и так далее*/
/*body {
  $bg-color: darkorange;
  background-color: $bg-color;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: 400;
  background-color: $basic-white;
  font-family: $secondary-font;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
