.additional-product {
  font-style: normal;
}

.additional-product__wrapper {
  font-style: normal;
}

.additional-product__list {
  list-style: none;
}

.additional-product__item {
  font-style: normal;
}

.additional-product__main-title {
  text-align: center;
  font-family: $main-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.additional-product__title {
  color: $basic-text-color-2;
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__information {
  color: $basic-text-color;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.additional-product__price {
  color: $basic-text-color;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
