.advantages {

}

.advantages__wrapper {

}

.advantages__title {
  text-align: center;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {

}

.advantages__description {
  color: $basic-text-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
}

.advantages__item--nutrition {

}

.advantages__item--powder {

}

.advantages__item--functional {

}

.advantages__item--changes {

}
