.advantages {
  font-style: normal;
}

.advantages__wrapper {
  font-style: normal;
}

.advantages__title {
  text-align: center;
  font-family: $main-font;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  font-style: normal;
}

.advantages__description {
  color: $basic-text-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
}

.advantages__item--nutrition {
  font-style: normal;
}

.advantages__item--powder {
  font-style: normal;
}

.advantages__item--functional {
  font-style: normal;
}

.advantages__item--changes {
  font-style: normal;
}
