.contacts {
  background-color: $basic-gray;
}

.contacts__title {
  color: $text-grey;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__subtitle {
  color: $basic-text-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
}

.contacts__location {

}

