.contact {

}

.contact__title {
  font-family: $main-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.contact__label, .contact__form {
  color: $basic-text-color;
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
