.form {
  font-style: normal;
}

.form__title {
  font-family: $main-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.form__description {
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field {
  color: $basic-text-color;
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 207px;
  height: 45px;
  flex-shrink: 0;
  border-color: $special-dark-grey;
  outline: none;

  &:hover {
    border-color: $special_grey;
  }

  &:focus {
    border-color: $special-dark_grey;
  }
}

.form__description-input {
  color: $basic-text-color;
  font-family: $main-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.button__description {
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
