.introduction {
  background-color: rgba(104, 183, 56, 0.85);
  font-family: $main-font;
  color: $basic-white;
}

.introduction__wrapper {
  font-style: normal;
}

.introduction__title {
  font-size: 36px;
  line-height: 36px;
}

.introduction__tagline {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.introduction__link {
  font-style: normal;
}
