.nutrition {
  font-style: normal;
}

.nutrition__wrapper {
  font-style: normal;
}

.nutrition__list {
  list-style: none;
}

.nutrition__item {
  font-style: normal;
}

.nutrition__title {
  color: $color-basis;
  font-family: $main-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.nutrition__deskription {
  color: var(--special_dark-grey, #444444);
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
}

.nutrition__link {
  text-decoration: none;
  color: $color-basis;
  font-family: $main-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}
