.product-card {

}

.product-card__link {

}

.product-card__image {

}

.product-card__title {
  color: $basic-text-color-2;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__list {
  color: $basic-text-color;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__item {

}

.product-card__text {

}

.product-card__description {
  color: $basic-text-color;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {

}
