.social {
  font-style: normal;
}

.social__item {
  font-style: normal;
}

.social__link {
  font-style: normal;
}

.social__link--vk {
  font-style: normal;
}

.social__link--yotube {
  font-style: normal;
}

.social__link--tg {
  font-style: normal;
}
